body {
    margin: 0;
    font-family: system-ui;
}

.hero {
    background-color: rgb(44, 125, 119);
    color: white;
    background-image: url("/Assets/Images/Fireside_1.jpg");
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem
}