@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* * {
    color: rgb(239, 234, 234);
} */
        body {
            color: rgb(239, 234, 234);
        }

        .cloud-container {
            /* display: flex; */
            /* justify-content: center;
            align-items: center; */
            /* flex-direction: column; */
            /* height: 100%; */
            transform: rotate(-9deg);
            position: absolute;
            top: 20px;
            left: 5px;

        }

        .cloud-title {
            position: relative;
            display: inline-block;
            font-family: 'Pacifico', cursive;
            font-size: 48px;
        }

        .cloud-title span {
            position: relative;
            display: inline-block;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            animation: floatUpDown var(--duration) ease-in-out infinite alternate;
            animation-delay: var(--delay);
        }

        .cloud-title span:nth-child(1) {
            --duration: 3s;
            --delay: .1s;
            --min-height: -10px;
            --max-height: 10px;
        }
        .cloud-title span:nth-child(2) {
            --duration: 3s;
            --delay: 0.2s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(3) {
            --duration: 3s;
            --delay: 0.4s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(4) {
            --duration: 3s;
            --delay: 0.0s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(5) {
            --duration: 3s;
            --delay: 0.5s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(6) {
            --duration: 3s;
            --delay: 0.3s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(7) {
            --duration: 3s;
            --delay: 0.1s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(8) {
            --duration: 3s;
            --delay: 0.4s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(9) {
            --duration: 3s;
            --delay: 0.5s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(12) {
            --duration: 3s;
            --delay: 0.2s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(13) {
            --duration: 3s;
            --delay: 0.4s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(14) {
            --duration: 3s;
            --delay: 0.3s;
            --min-height: -10px;
            --max-height: 10px;
        }.cloud-title span:nth-child(15) {
            --duration: 3s;
            --delay: 0.1s;
            --min-height: -10px;
            --max-height: 5px;
        }

        /* Adjust animation properties and values for additional letters */

        @keyframes floatUpDown {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(var(--min-height));
            }
            100% {
                transform: translateY(0);
            }
        }